.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search_bar{
  width: 645px !important;
  border-radius: 30px !important;
}
.font_12{
  font-size:12px !important;
}
.font_14{
  font-size:14px !important;
}
.txtname{
  justify-content: center;
  position: absolute;
  top: 32px;
  align-items: center;
  width: 100%;
  text-align: center;
  color: black;
}
.bg_img{
  height: 140px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-size: cover;
}
.categoryImg{
  opacity: 0.5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
